<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Phone 1 GPS</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <script src='static/bower_components/d3/d3.min.js'></script>
  <script src='static/bower_components/jquery/dist/jquery.min.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
<div id='map'></div>

<script>

  // custom javascript
  $(function() {
    console.log('About to animate :)');
    getPhoneData();
  });


  function getPhoneData(){
    d3.json("/api/1.0/mongoWebApp/getPhoneData", function(docs) {
      
      //docs.data is an array of objects, where each obj is a csv row
      var dataObjs = (docs.data);
      // console.log(dataObjs);

      var numRecords = dataObjs.length;
      var lats  = [];
      var longs = [];

      for (var i = 0; i < numRecords; i++){
        var record = dataObjs[i];
        var lat = Number(record.lat);
        var lon = Number(record.lon)

        //Check that our coordinates are numerical and within the acceptable area
        if(!isNaN(lat) && lat<11.109684643110414 && lat>10.478359299402134){
          if(!isNaN(lon) && lon<-0.693511962890625 && lon>-1.41998291015625){
            lats.push(lat);
            longs.push(lon);
          }
        }
      }

      console.log("Started with: " + numRecords + " records");
      console.log(lats.length + " were permissable")

      //Call from here to avoid asynchronous behavior
      animatePhoneData(lats, longs);

    });
  }

  function animatePhoneData(lats, longs){

    L.mapbox.accessToken = 'pk.eyJ1IjoiYWxuZTQyOTQiLCJhIjoiZERWYV8yZyJ9.9Dp7x2OGFrLO6ZIunDSHyQ';
    var map = L.mapbox.map('map', 'alne4294.l9ebdngb').setView([10.9100667, -1.0007569], 12);

    // add an OpenStreetMap tile layer
    // L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    //     attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    // }).addTo(map);

    // Generate a GeoJSON line. You could also load GeoJSON via AJAX
    // or generate it some other way.
    var geojson = { type: 'LineString', coordinates: [] };

    console.log(lats);
    console.log(longs);

    var start = [0,0];
    var momentum = [.001, .001];
    var pace = 30; //Higher number is a slower pace

    for (var i = 0; i < lats.length; i++){

      //Push the start of the line, then start moving towards the next point
      start[0] = lats[i];
      start[1] = longs[i];

      geojson.coordinates.push(start.slice());
     
      var latMom  = Math.abs(lats[i+1]  - lats[i])/pace;
      var longMom = Math.abs(longs[i+1] - longs[i])/pace;
      momentum = [latMom, longMom];

      //The direction of the momentum depends on the direction that we're going
      //Note: since we've scaled the momentum for N/S and E/W, we only need to check
      //one of them to determine if we've reached our destination

      //NORTHEAST
      if(lats[i] <= lats[i+1] && longs[i] <= longs[i+1]){
        while(start[0] < lats[i+1]){
          // Use the momentum to smooth transitions
          start[0] += momentum[0];
          start[1] += momentum[1];
          geojson.coordinates.push(start.slice());
        } 
      }

      //NORTHWEST
      else if(lats[i] <= lats[i+1] && longs[i] >= longs[i+1]){
        while(start[0] < lats[i+1]){
          // Use the momentum to smooth transitions
          start[0] += momentum[0];
          start[1] -= momentum[1];
          geojson.coordinates.push(start.slice());
        } 
      }

      //SOUTHEAST
      else if(lats[i] >= lats[i+1] && longs[i] <= longs[i+1]){
        while(start[0] > lats[i+1]){
          // Use the momentum to smooth transitions
          start[0] -= momentum[0];
          start[1] += momentum[1];
          geojson.coordinates.push(start.slice());
        } 
      }

      //SOUTHWEST
      else if(lats[i] >= lats[i+1] && longs[i] >= longs[i+1]){
        while(start[0] > lats[i+1]){
          // Use the momentum to smooth transitions
          start[0] -= momentum[0];
          start[1] -= momentum[1];
          geojson.coordinates.push(start.slice());
        } 
      }

    }

    console.log(geojson);

    // Add this generated geojson object to the map.
    L.geoJson(geojson).addTo(map);

    // Create a counter with a value of 0.
    var j = 0;

    // Create a marker and add it to the map.
    var marker = L.marker([0, 0], {
      icon: L.mapbox.marker.icon({
        'marker-color': '#f86767'
      })
    }).addTo(map);

    tick();
    function tick() {
        // Set the marker to be at the same point as one
        // of the segments or the line.
        marker.setLatLng(L.latLng(
            geojson.coordinates[j][0],
            geojson.coordinates[j][1]));

        // Move to the next point of the line
        // until `j` reaches the length of the array.
        if (++j < geojson.coordinates.length) setTimeout(tick, 100);
    }
  }
</script>
</body>
</html>