<!DOCTYPE html>
<html>
  <head>
    <title>REACCTING Data Dashboard</title>
    <h2 style="color:red">REACCTING Data Dashboard</h2>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='static/bower_components/bootstrap/dist/css/bootstrap.min.css' rel="stylesheet" media="screen">
    <link href='static/main.css' rel="stylesheet" media="screen">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>
  <body>
    <p class="find"> 
      <!-- Click here to find() SUMS  -->
    </p>
    <div class="container">
      <!-- <div id="chart"></div> -->
    </div>
    <p>
      Go to <a href="/map">map</a>
      Go to <a href="/animation">animation</a>
    </p>
    <script src='static/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='static/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='static/bower_components/d3/d3.min.js'></script>
    <script src='static/bower_components/d3/d3.tip.v0.6.3.js'></script>
    <script src='static/bower_components/d3/topojson.v1.min.js'></script>
    <script src='static/main.js'></script>
    <p>
      <!-- Click here to findOne() SUMS -->
    </p>
  </body>
</html>